$light: #F5F5F5;
$dark: #1E1E1E; 

@import 'node_modules/bootstrap/scss/bootstrap';
@import '@fontsource/montserrat';

div.bg-light {
  background-color: $light !important; 
}
div.bg-dark{
  background-color: $dark !important;
}

.custom-padding {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
  background-color: $light;
}
a, a:link, a:visited{
  font-size: 1.5rem;
  font-family: "Montserrat";  
  color: white; 
  margin-left: 1rem; 
  margin-right: 1rem;
  text-decoration: none; 
}
.vocologo {
  width: auto;
  height: 12.5vh !important;
  margin-left: -0.5rem !important;
}

.spacer-20vh{
  min-height: 20vh;
  background-color: $light;
}
h1 {
  color: #1E1E1E;
  font-family: "Montserrat";
  font-size: 3rem !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h4 {
  color: #000;
  font-family: "Montserrat";
  font-size: 1.5rem !important; 
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

