@import '@fontsource/montserrat';

$light: #FBFBFB;
$dark: hsl(0, 0%, 12%); 

@import 'node_modules/bootstrap/scss/bootstrap';
@import '@fontsource/montserrat';
html {
  font-size: 0.6vw; 
}

div.bg-light {
  background-color: $light !important; 
}
div.bg-dark{
  background-color: $dark !important;
}

.custom-padding {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
  background-color: $light;
}
a, a:link, a:visited{
  font-size: 1.125rem;
  font-family: "Montserrat";  
  color: white; 
  margin-left: 1rem; 
  margin-right: 1rem;
  text-decoration: none; 
}
.vocologo {
  width: auto;
  height: 12.5vh !important;
  margin-left: -0.5rem !important;
}

.spacer{
  min-height: calc(var(--space-unit) * 1);;
  background-color: $light;
}

.line {
  border-top: 2px solid #1E1E1E;
  width: 100%;
}

h1 {
  color: #1E1E1E;
  font-family: "Montserrat";
  font-size: 2.1875rem !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h4 {
  color: #000;
  font-family: "Montserrat";
  font-size: 1.5625rem !important; 
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal !important;
}

