.page1-btn {
  border-radius: 10px 0px 0px 0px;
  border: 1px solid #757575;
  background: #d9d9d9;
  height: 3.25rem;
}

.page2-btn-notselected {
  border-radius: 0px 5px 0px 0px;
  border: 1px solid rgba(117, 117, 117, 0.5);
  background: rgba(117, 117, 117, 0.5);
  height: 3.25rem;
}
.page2-btn-selected {
  border-radius: 0px 5px 0px 0px;
  border: 1px solid #1e1e1e;
  background: #757575;
  height: 3.25rem;
}
.page1-top {
  background: #d9d9d9;
  height: 4.75rem;
  border-bottom: 1px solid #757575;
}
.search {
  border-radius: 10px;
  border: 1px solid rgba(158, 158, 158, 0.4);
  background: rgba(238, 238, 238, 0.93);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 12.25rem;
  height: 3.1875;
  flex-shrink: 0;
}
.page-container {
  border-radius: 10px 0px 10px 10px;
  border: 1px solid #757575;
  overflow: hidden !important;
}
h1 {
  color: #1e1e1e;
  font-family: "Montserrat";
  font-size: 2.1875rem !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h2 {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  color: #000;
  font-family: Montserrat;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.page1-box {
  background-color: #eee;
  stroke-width: 1px;
  stroke: #757575;
}

.page2-top {
  border-radius: 10px 0px 0px 0px;
  background: #757575;
  height: 4.75rem;
  flex-shrink: 0;
}

.page2-month-selector {
  width: 12.5rem;
  height: 3.1875rem;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(158, 158, 158, 0.4);
  background: rgba(238, 238, 238, 0.93);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  padding-top: 1rem;
}
.triangle-btn {
  width: 0;
  height: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.triangle-btn.left {
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-right: 0.9375rem solid #a1a1a1;
}

.triangle-btn.right {
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.9375rem solid #a1a1a1;
}
.page2-text {
  color: #eee;
  font-family: Montserrat;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

tbody tr {
  height: 8rem;
}
.calendar-table {
  width: 100%;
  background: #f6f6f6;
}

.strong-border {
  border: 1px solid black !important;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.current-month {
  color: black;
  background-color: white;
}

.non-current-month {
  color: gray !important;
  background-color: #f0f0f0 !important;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.strong-border {
  border: 1px solid black !important;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  height: 100px;
  overflow: hidden;
}

.current-month {
  color: black;
  background-color: white;
}

.non-current-month {
  color: gray !important;
  background-color: #f0f0f0 !important;
}

.event {
  border-radius: 5px;
  border: 1px solid rgba(137, 137, 137, 0.5);
  background: #d9d9d9;
  padding: 5px;
}
