.Footer {
    background-color: #1E1E1E;
    height: 12.5rem;
    padding: 0 8.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 17.625rem;
    height: 6.4375rem;
    flex-shrink: 0;
}
h4{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:
}
h1{
    margin-bottom: 0.5rem;
}
.info {
    display: flex;
    flex-direction: column;   
}