.header {
    display: flex;
    flex-direction: column;


}

.top {
    padding: 0  8.6rem;
    height: 73px;
    width: 100vw;
    background-color: #FBFBFB; ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.top-social {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 17rem;
  gap: 1rem;
}
.search h1 {
    color: #000;
    font-family: Inter;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav {
    padding: 0  8.6rem;
    height: 150px;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    color: white
}
a {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.search-container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
  }

  .search-input {
    width: 80%;
    height: 40px;
    padding: 0 40px 0 20px;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease;
  }

  .search-input:focus {
    border-color: #999;
  }

  .search-container {
    position: relative;
  }

  .search-icon {
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}
.logo {
    width: 12.9375rem;
    height: 4.75rem;
    flex-shrink: 0;
}